<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Meet Up | NYC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
<br>
<h1>Meet Up Planner</h1>
<br>
<form action="/map">
  <label for="my_addr">My Address:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="my_addr">
  <br><br>
  <label for="friend_addr">Friend's Address:</label>&nbsp;
  <input type="text" name="friend_addr">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</div>
</body>
</html>