<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Meet Up | NYC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ5gStIZnEdlzyzu_h1gu1G5RWwFk0w54&callback=initMap"
    type="text/javascript"></script>
    <script type="text/javascript">
    let map;
    let infoWindow;

    function initMap() {
        /* Use data from app.show_map() */
        const myLatLng = { lat: {{me.lat}}, lng: {{me.lng}} };
        const friendLatLng = { lat: {{friend.lat}}, lng: {{friend.lng}} };
        const avgLatLng = { lat: {{ (me.lat+friend.lat) / 2 }}, lng: {{ (me.lng+friend.lng) / 2 }} };

        /* Initialize Google Map */
        map = new google.maps.Map(document.getElementById('map'), {
            center: avgLatLng,
            zoom: 13
        });


        /* Map Pin Markers */
        const me = new google.maps.Marker({
            position: myLatLng,
            map,
            title: "Me"
        });
        me.setMap(map);
        // Add a listener for the click event.
        me.addListener("click", markerWindow);
        infoWindow = new google.maps.InfoWindow();

        const friend = new google.maps.Marker({
            position: friendLatLng,
            map,
            title: "Friend"
        });
        friend.setMap(map);
        // Add a listener for the click event.
        friend.addListener("click", markerWindow);
        infoWindow = new google.maps.InfoWindow();


        /* Meet Up Zone Circle */
        const neighborhood = new google.maps.Circle({
            strokeColor: "#E34234",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#DC143C",
            fillOpacity: 0.25,
            map,
            center: avgLatLng,
            radius: 500,
            clickable: false
        });
        neighborhood.setMap(map);
    }

    /* Design Info Window Popup */
    function markerWindow(event) {
        const marker = this;
        let contentString =
            `<b>${marker.title}</b><br>`;

        // Replace the info window's content and position.
        infoWindow.setContent(contentString);
        infoWindow.setPosition(event.latLng);
        infoWindow.open(map);
    }

    </script>
</head>
<body>
<div class="container">
    <br>
    <h1>Meet Up Map</h1>
    <br>
    <p>Powered by Google Maps</p>
    <div id="map" style="width:100%; height:500px;"></div>
    <br>
    <h4><b>Me:</b> {{address.me}}</h4>
    <h4><b>Friend:</b> {{address.friend}}</h4>
</div>
</body>
</html>